@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900; 1.100..900&display=swap');

:root {
    --breakpoint-xl: 1200px;
    --navbar-height: 100px;
    --transition: all 0.2s cubic-bezier(0.19, 0.68, 0.49, 1.21);
    --transition-2: all .3s linear;
    --theme-color: #81B441;
}

body {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
}

main {
    background-color: #ccc;
    min-height: 100vh;
}

.container {
    width: 90%;
    max-width: var(--breakpoint-xl);
    margin: 0 auto;
    overflow: hidden;
}

/* Barra de navegación */

.navbar {
    position: fixed;
    z-index: 5000;
    top: 20px;
    right: 20px;
}

#nav-check, .dropdown__checkbox {
    display: none;
}

.menu__label {
    --transition1: transform 500ms;
    --transition2: none;
    --transform1: scale(1);
    --transform2: scale(0);
    background-color: #4a4e69;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    display: grid;
    place-items: center ;
    position: relative;
    z-index: 1;
}

.menu__hamburguer {
    position: absolute;
}

.menu__hamburguer--close {
    transition: var(--transition2);
    transform: var(--transform2);
}

.menu__hamburguer--show {
    transition: var(--transition1);
    transform: var(--transform1);
}

#nav-check:checked ~ .menu__label {
    --transition1: none;
    --transition2: transform 500ms;
    --transform1: scale(0);
    --transform2: scale(1);
}

.navbar > div {
    background-color: #fff;
    width: 100%;
    max-width: 100%;
    padding: 1.3em;
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2em;
    clip-path: circle(0 at top right);
    transition: clip-path 1.3s;
}

#nav-check:checked ~ .container {
    clip-path: circle(150% at top right);
}

.nav__logo {
    align-self: center;
}

.nav__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1em;
}

.nav__content a {
    font-size: 1.3rem;
    color: #555;
    text-decoration: none;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    display: flex;
    align-items: center;
    transition: var(--transition-2);

    &:hover {
        color: var(--theme-color);
    }
}

.nav__links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1em;
}

.nav__dropdown {
    position: relative;
}

.dropdown__content {
    max-height: 0;
    padding: 0;
    margin-left: 0.2em;
    border-left: 2px solid var(--theme-color);
    overflow: auto;
    transition: all ease-out 400ms;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.dropdown__checkbox:checked ~ .dropdown__content {
    max-height: 130px;
    padding: 0.8em 1em;
}

.dropdown__checkbox:checked ~ .dropdown__content--main {
    max-height: 400px;
}

.dropdown__link::before {
    content: "+";
    margin-right: 4px;
}

.dropdown__checkbox:checked + label > .dropdown__link::before {
    content: "-";
}

.btn__lenguage {
    background-color: #5a6268;
    padding: 5px 10px;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    transition: background-color ease 300ms;

    & a {
        font-size: 0.8rem;
        color: #fff;
        display: inline;
    }
}

.btn__lenguage:hover {
    background-color: #707a81;

    & a {
        color: #fff;
    }
}