<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CICOTI 2024</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/main.css">
    <!-- <link rel="stylesheet" href="/css/movil.css"> -->
    <!-- <link rel="stylesheet" href="/css/style.css"> -->
</head>
<body>
    <header>
        <nav class="navbar">
            <input type="checkbox" id="nav-check">
            <label for="nav-check" class="menu__label">
                <img src="/img/close.svg" alt="close" class="menu__hamburguer menu__hamburguer--close">
                <img src="/img/menu.svg" alt="menu" class="menu__hamburguer menu__hamburguer--show">
            </label>
            <div class="container">
                <a href="#" class="nav__logo"><img src="/img/logocicoti.png" alt="logocicoti"></a>
                <div class="nav__content">
                    <div class="nav__links">
                        <a href="#">Inicio</a>
                        <a href="#" class="text-twinkle text-hover-theme">Llamado para autores</a>
                        <a href="#">Estudiantes/Workshop</a>
                        <a href="#">Conferencias</a>
                        <a href="#">Talleres</a>
                        <div class="nav__dropdown">
                            <input type="checkbox" id="navAboutCongress" class="dropdown__checkbox">
                            <label for="navAboutCongress"><a class="dropdown__link">Sobre el congreso</a></label>
                            <div class="dropdown__content dropdown__content--main">
                                <div class="dropdown__nested">
                                    <input type="checkbox" id="navAnnouncement" class="dropdown__checkbox">
                                    <label for="navAnnouncement"><a class="dropdown__link">Convocatoria</a></label>
                                    <div class="dropdown__content dropdown__content--nested">
                                        <a href="#">Convocatoria</a>
                                        <a href="#">Llamado para autores</a>
                                    </div>
                                </div>
                                <div class="dropdown__nested">
                                    <input type="checkbox" id="navAbout" class="dropdown__checkbox">
                                    <label for="navAbout"><a class="dropdown__link">Acerca de</a></label>
                                    <div class="dropdown__content dropdown__content--nested">
                                        <a href="#">¿Que es CICOTI 2024?</a>
                                        <a href="#">Autoridades</a>
                                        <a href="#">Ediciones anteriores</a>
                                    </div>
                                </div>
                                <div class="dropdown__nested">
                                    <input type="checkbox" id="navHeadquarters" class="dropdown__checkbox">
                                    <label for="navHeadquarters"><a class="dropdown__link">Sedes</a></label>
                                    <div class="dropdown__content dropdown__content--nested">
                                        <a href="#">TecNM campus de los Ríos</a>
                                        <a href="#">TecNM campus de Escárcega</a>
                                        <a href="#">TecNM campus de Calkini</a>
                                    </div>
                                </div>
                                <a href="#">Comité organizador</a>
                                <a href="#">Programa</a>
                                <a href="#">Contactos</a>
                            </div>
                        </div>
                        <a href="#">Costos</a>
                    </div>
                    <div class="btn__lenguage">
                        <a>ES</a>
                        <div class="dropdown__content">
                            <a href="#">Inglés</a>
                            <a href="#">Español</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <section class="hero" style="background-image: url('/img/resources/autores2.jpg');">
            <div class="container">
                <h2 class="hero__title">Llamado para autores</h2>
                <div class="hero__return">
                    <a href="" class="text-hover-theme">Inicio</a>
                    <h5>Llamado para autores</h5>
                </div>
            </div>
            <figure class="hero__footer">
                <div class="footer__content footer__content--movil"><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,128.41 C149.99,150.00 397.29,159.20 502.69,95.84 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #fff;"></path></svg></div>
                <div class="footer__content footer__content--desktop"><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M-1.69,80.25 C277.09,198.67 308.13,0.33 500.00,80.25 L500.56,150.31 L0.57,152.30 Z" style="stroke: none; fill: #fff;"></path></svg></div>
            </figure>
        </section>
        <input type="checkbox" id="checkModal" style="display: none;" checked>
        <section class="header__modal">
            <div class="header__container">
                <div class="modal__header">
                    <img src="/img/header.png" alt="modal-header">
                    <label for="checkModal" class="modal__close"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: #F00; transform: scale(85%);"><path d="m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z"></path></svg></label>
                </div>
                <div class="modal__body">
                    <div class="body__content">
                        <h3 class="modal__title">Revista Tecnología digital</h3>
                        <p class="modal__text">Índice LatIndex: Folio 23658</p>
                        <a href="#" class="modal__cta">Descargar</a>
                    </div>
                    <div class="body__content">
                        <h3 class="modal__title">Revista Computación y Sistemas</h3>
                        <p class="modal__text">Vol 27, No 2 (2023): 27(2) 2023</p>
                        <a href="#" class="modal__cta">Descargar</a>
                    </div>
                </div>
                <div class="modal__footer">
                    <img src="/img/Pie.png" alt="modal-footer">
                </div>
            </div>
        </section>
    </header>
    <main>
        <section class="container section__main">
            <div class="main__content">
                <div>
                    <p class="paragraph">El Comité Organizador del Congreso Internanconal de Computación y Tecnologías de la Información (CICOTI 2022) invita estudiantes, profesionales y comunidad científica a someter sus trabajos de investigación para presentarse en este evento en la modalidad de cartel o presentación oral. Los artículos aceptados podrán ser presentados durante el congreso de manera presencial (preferentemente) o virtual designados por el comité técnico.</p>
                    <p>&nbsp;</p>
                    <p class="paragraph">Los trabajos presentados, que cumplan con los criterios de calidad establecidos por el comité editorial, podrán ser seleccionados para ser publicados en:</p>
                    <ul class="list-style-check">
                        <li><b>Revista tecnología digital con  ISSN 2007-9400</b></li>
                        <li><b>Research In Computing Science con ISSN 1870-4096</b></li>
                    </ul>
                    <p class="paragraph">Los mejores trabajos, de alta calidad, aceptados y presentados en el evento podrán ser publicados en la revista:</p>
                    <ul class="list-style-check">
                        <li><b>Computación y Sistemas con ISSN 2007-9737 indexado por CONACYT, Scopus y Web of Science.</b></li>
                    </ul>
                    <p class="paragraph">El número y volumen de las publicaciones dependerán exclusivamente de cada revista.</p>
                </div>
                <hr>
                <div>
                    <h3 class="title-3">Lineamientos</h3>
                    <ol class="list-style-number">
                        <li>Se recibirán trabajos en español o inglés, en documento en formato Word, mínimo de 7 cuartillas y con un máximo de 10 cuartillas.</li>
                        <li>Los trabajos deben ser inéditos, originales y de calidad; además de no haber sido publicados o presentados previamente en algún otro evento o cualquier tipo de publicación.</li>
                        <li>Cubrir el <a>costo</a> de la inscripción para autores.</li>
                        <li>Los trabajos que cumplan con los criterios de calidad establecidos por el comité editorial y científico serán publicados en las revistas antes mencionadas. El comité técnico designará la revista donde será publicada.</li>
                        <li>Los trabajos serán presentados,  <b>preferentemente</b> de manera <b>presencial</b>  en cualquiera de las 3 sedes del evento o de manera <b>virtual.</b> (ITSR, ITESCAMP, ITSE)</li>
                        <li>Todos los trabajos serán evaluados por el Comité Científico y por el Comité Editorial y su dictamen será inapelable, quienes dictaminarán los manuscritos que cumplan con las Normas Editoriales del Evento, la calidad de los mismos y la revista donde será publicado.</li>
                        <li>Se otorgará una constancia por trabajo aceptado.</li>
                        <li>El envío de trabajos será a través de la siguiente liga: Envío de trabajos</li>
                    </ol>
                </div>
                <hr>
                <div>
                    <h4>Envío de Trabajos</h4>
                    <p class="paragraph">Son bienvenidos las contribuciones en diferentes tópicos de las Ciencias de la Computación y Tecnologías de la Información:</p>
                    <ul class="list-style-check">
                        <li>Redes de computadoras</li>
                        <li>Internet de las Cosas</li>
                        <li>Cloud Computing</li>
                        <li>Computación y Sociedad</li>
                        <li>Cómputo Científico</li>
                        <li>CyberSeguridad</li>
                        <li>Ingeniería de Software</li>
                        <li>Inteligencia Artificial</li>
                        <li>Realidad virtual y aumentada</li>
                        <li>Robótica</li>
                        <li>Sistemas distribuidos</li>
                        <li>Sistemas embebidos</li>
                        <li>TIC’s en la educación</li>
                        <li>Big data</li>
                    </ul>
                    <p class="paragraph">El envío de trabajos será a través de la siguiente liga: Envío de trabajos</p>
                    <p class="paragraph">Guía para registro de artículos en el sistema</p>
                </div>
                <hr>
                <div>
                    <h4>Formato de documento</h4>
                    <p class="paragraph">Seguir el formato de Lecture Notes in Computer Science (LNCS) en Word o Latex</p>
                    <p class="paragraph">Descargar plantilla LNCS Word</p>
                    <p class="paragraph">Descargar plantilla LNCS Latex</p>
                </div>
                <hr>
                <div>
                    <h4>Presentaciones de trabajos</h4>
                    <p class="paragraph">Los trabajos serán aceptados por la modalidad oral o por cartel</p>
                </div>
                <hr>
                <div>
                    <h4>Presentaciones orales presenciales</h4>
                    <p class="paragraph">Las exposiciones de los trabajos orales aceptados por parte del Comité científico se deberán realizar en formato PowerPoint, con una duración de 10 minutos para exposición y 2 minutos para la sesión de preguntas.</p>
                </div>
                <hr>
                <div>
                    <h4>Presentaciones en carteles</h4>
                    <p class="paragraph">La presentación del cartel será de acuerdo al método científico. El tamaño del cartel será de 60 x 90 cm.</p>
                </div>
            </div>
            <div class="main__aside">
                <aside>
                    <div class="aside__date">
                        <h3>Fechas importantes</h3>
                        <div>
                            <div class="info-date">
                                <h4 class="text-hover-theme">Apertura de la convocatoria</h4>
                                <span>03 Junio 2024</span>
                            </div>
                            <div class="info-date">
                                <h4 class="text-hover-theme">Cierre de envío de propuesta de artículos</h4>
                                <span><del>16 Septiembre 2024</del></span>
                                <span><del>23 Septiembre 2024</del></span>
                                <span style="color: #D80169;">30 Septiembre 2024</span>
                            </div>
                            <div class="info-date">
                                <h4 class="text-hover-theme">Notificación de aceptación</h4>
                                <span><del>07 Octubre 2024</del></span>
                                <span style="color: #D80169;">16 Octubre 2024</span>
                            </div>
                            <div class="info-date">
                                <h4 class="text-hover-theme">Registro de participación</h4>
                                <span>18 Octubre 2024</span>
                            </div>
                            <div class="info-date">
                                <h4 class="text-hover-theme">Celebración del Congreso</h4>
                                <span>08-10 Noviembre 2024</span>
                            </div>
                        </div>
                    </div>
                    <div class="aside__endorce">
                        <h3>Avalado por:</h3>
                        <div><img src="/img/smia.png" alt="smia"></div>
                    </div>
                </aside>
            </div>
        </section>
    </main>
    <footer class="last-footer">
        <div class="container">
            <div class="last-footer__content">
                <img src="/img/retina-logo.png" alt="logo">
                <div>
                    <p>Dirección:  Km. 3 carretera Balancán-Villahermosa, Balancán, Tabasco C.P. 86930</p>
                    <p><a href="#">CICOTI 2024</a> - &copy; Copyright 2024</p>
                    <p>Diseñado por: <a href="#">CA - Computo Distribuido</a></p>
                    <p>Desarrollado por: <a>Mario Jesús Arias Hernández</a></p>
                </div>
            </div>
            <div class="last-footer__contact">
                <p>Teléfono: <strong>(934) - 115 - 1443</strong></p>
                <div>
                    <a class="contact__btn contact__btn--facebook" title="Facebook"></a>
                    <a class="contact__btn contact__btn--mail" title="Mail"></a>
                    <a class="contact__btn contact__btn--youtube" title="Youtube"></a>
                </div>
            </div>
        </div>
        <div class="last-footer__decoration">
            <div style="background-color: #ff76d5;"></div>
            <div style="background-color: #1ad688;"></div>
            <div style="background-color: #ffc600;"></div>
            <div style="background-color: #c40172;"></div>
            <div style="background-color: #990fff;"></div>
            <div style="background-color: #ff7500;"></div>
        </div>
    </footer>
</body>
</html>