<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CICOTI 2024</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/main.css">
    <!-- <link rel="stylesheet" href="/css/movil.css"> -->
    <!-- <link rel="stylesheet" href="/css/style.css"> -->
</head>
<body>
    <header>
        <nav class="navbar">
            <input type="checkbox" id="nav-check">
            <label for="nav-check" class="menu__label">
                <img src="/img/close.svg" alt="close" class="menu__hamburguer menu__hamburguer--close">
                <img src="/img/menu.svg" alt="menu" class="menu__hamburguer menu__hamburguer--show">
            </label>
            <div class="container">
                <a href="#" class="nav__logo"><img src="/img/logocicoti.png" alt="logocicoti"></a>
                <div class="nav__content">
                    <div class="nav__links">
                        <a href="#">Inicio</a>
                        <a href="#" class="text-twinkle text-hover-theme">Llamado para autores</a>
                        <a href="#">Estudiantes/Workshop</a>
                        <a href="#">Conferencias</a>
                        <a href="#">Talleres</a>
                        <div class="nav__dropdown">
                            <input type="checkbox" id="navAboutCongress" class="dropdown__checkbox">
                            <label for="navAboutCongress"><a class="dropdown__link">Sobre el congreso</a></label>
                            <div class="dropdown__content dropdown__content--main">
                                <div class="dropdown__nested">
                                    <input type="checkbox" id="navAnnouncement" class="dropdown__checkbox">
                                    <label for="navAnnouncement"><a class="dropdown__link">Convocatoria</a></label>
                                    <div class="dropdown__content dropdown__content--nested">
                                        <a href="#">Convocatoria</a>
                                        <a href="#">Llamado para autores</a>
                                    </div>
                                </div>
                                <div class="dropdown__nested">
                                    <input type="checkbox" id="navAbout" class="dropdown__checkbox">
                                    <label for="navAbout"><a class="dropdown__link">Acerca de</a></label>
                                    <div class="dropdown__content dropdown__content--nested">
                                        <a href="#">¿Que es CICOTI 2024?</a>
                                        <a href="#">Autoridades</a>
                                        <a href="#">Ediciones anteriores</a>
                                    </div>
                                </div>
                                <div class="dropdown__nested">
                                    <input type="checkbox" id="navHeadquarters" class="dropdown__checkbox">
                                    <label for="navHeadquarters"><a class="dropdown__link">Sedes</a></label>
                                    <div class="dropdown__content dropdown__content--nested">
                                        <a href="#">TecNM campus de los Ríos</a>
                                        <a href="#">TecNM campus de Escárcega</a>
                                        <a href="#">TecNM campus de Calkini</a>
                                    </div>
                                </div>
                                <a href="#">Comité organizador</a>
                                <a href="#">Programa</a>
                                <a href="#">Contactos</a>
                            </div>
                        </div>
                        <a href="#">Costos</a>
                    </div>
                    <div class="btn__lenguage">
                        <a>ES</a>
                        <div class="dropdown__content">
                            <a href="#">Inglés</a>
                            <a href="#">Español</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <section class="hero" style="background-image: url('/img/resources/itsr.jpg');">
            <div class="container">
                <h2 class="hero__title">TecNM campus de los Ríos</h2>
                <div class="hero__return">
                    <a href="" class="text-hover-theme">Inicio</a>
                    <h5>ITSR</h5>
                </div>
            </div>
            <figure class="hero__footer">
                <div class="footer__content footer__content--movil"><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,128.41 C149.99,150.00 397.29,159.20 502.69,95.84 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #fff;"></path></svg></div>
                <div class="footer__content footer__content--desktop"><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M-1.69,80.25 C277.09,198.67 308.13,0.33 500.00,80.25 L500.56,150.31 L0.57,152.30 Z" style="stroke: none; fill: #fff;"></path></svg></div>
            </figure>
        </section>
        <input type="checkbox" id="checkModal" style="display: none;" checked>
        <section class="header__modal">
            <div class="header__container">
                <div class="modal__header">
                    <img src="/img/header.png" alt="modal-header">
                    <label for="checkModal" class="modal__close"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: #F00; transform: scale(85%);"><path d="m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z"></path></svg></label>
                </div>
                <div class="modal__body">
                    <div class="body__content">
                        <h3 class="modal__title">Revista Tecnología digital</h3>
                        <p class="modal__text">Índice LatIndex: Folio 23658</p>
                        <a href="#" class="modal__cta">Descargar</a>
                    </div>
                    <div class="body__content">
                        <h3 class="modal__title">Revista Computación y Sistemas</h3>
                        <p class="modal__text">Vol 27, No 2 (2023): 27(2) 2023</p>
                        <a href="#" class="modal__cta">Descargar</a>
                    </div>
                </div>
                <div class="modal__footer">
                    <img src="/img/Pie.png" alt="modal-footer">
                </div>
            </div>
        </section>
    </header>
    <main>
        <section class="container section__headquarters">
            <div class="headquarters__info">
                <div class="headquarter__item">
                    <figure class="headquarter__place"></figure>
                    <h4>Lugar</h4>
                    <p>Km. 3 carretera Balancán-Villahermosa, Balancán, Tabasco C.P. 86930</p>
                </div>
                <div class="headquarter__item">
                    <figure class="headquarter__contact"></figure>
                    <h4>Llama ahora</h4>
                    <p>Teléfono: 934-115-1443</p>
                </div>
                <div class="headquarter__item">
                    <figure class="headquarter__email"></figure>
                    <h4>Información de correo</h4>
                    <p>cicoti2022@gmail.com</p>
                </div>
            </div>
            <div class="headquarters__map">
                <p class="sedes__text">Contáctanos</p>
                <div id="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d32592.89020519127!2d-91.53409170055524!3d17.82645826958099!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85f3c2bd64971569%3A0x237ff6dacda499f4!2sInstituto%20Tecnol%C3%B3gico%20Superior%20de%20los%20R%C3%ADos!5e0!3m2!1ses!2smx!4v1720657652513!5m2!1ses!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </section>
    </main>
    <footer class="last-footer">
        <div class="container">
            <div class="last-footer__content">
                <img src="/img/retina-logo.png" alt="logo">
                <div>
                    <p>Dirección:  Km. 3 carretera Balancán-Villahermosa, Balancán, Tabasco C.P. 86930</p>
                    <p><a href="#">CICOTI 2024</a> - &copy; Copyright 2024</p>
                    <p>Diseñado por: <a href="#">CA - Computo Distribuido</a></p>
                    <p>Desarrollado por: <a>Mario Jesús Arias Hernández</a></p>
                </div>
            </div>
            <div class="last-footer__contact">
                <p>Teléfono: <strong>(934) - 115 - 1443</strong></p>
                <div>
                    <a class="contact__btn contact__btn--facebook" title="Facebook"></a>
                    <a class="contact__btn contact__btn--mail" title="Mail"></a>
                    <a class="contact__btn contact__btn--youtube" title="Youtube"></a>
                </div>
            </div>
        </div>
        <div class="last-footer__decoration">
            <div style="background-color: #ff76d5;"></div>
            <div style="background-color: #1ad688;"></div>
            <div style="background-color: #ffc600;"></div>
            <div style="background-color: #c40172;"></div>
            <div style="background-color: #990fff;"></div>
            <div style="background-color: #ff7500;"></div>
        </div>
    </footer>
</body>
</html>