<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CICOTI 2024</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/main.css">
    <!-- <link rel="stylesheet" href="/css/movil.css"> -->
    <!-- <link rel="stylesheet" href="/css/style.css"> -->
</head>
<body>
    <header>
        <nav class="navbar">
            <input type="checkbox" id="nav-check">
            <label for="nav-check" class="menu__label">
                <img src="/img/close.svg" alt="close" class="menu__hamburguer menu__hamburguer--close">
                <img src="/img/menu.svg" alt="menu" class="menu__hamburguer menu__hamburguer--show">
            </label>
            <div class="container">
                <a href="#" class="nav__logo"><img src="/img/logocicoti.png" alt="logocicoti"></a>
                <div class="nav__content">
                    <div class="nav__links">
                        <a href="#">Inicio</a>
                        <a href="#" class="text-twinkle text-hover-theme">Llamado para autores</a>
                        <a href="#">Estudiantes/Workshop</a>
                        <a href="#">Conferencias</a>
                        <a href="#">Talleres</a>
                        <div class="nav__dropdown">
                            <input type="checkbox" id="navAboutCongress" class="dropdown__checkbox">
                            <label for="navAboutCongress"><a class="dropdown__link">Sobre el congreso</a></label>
                            <div class="dropdown__content dropdown__content--main">
                                <div class="dropdown__nested">
                                    <input type="checkbox" id="navAnnouncement" class="dropdown__checkbox">
                                    <label for="navAnnouncement"><a class="dropdown__link">Convocatoria</a></label>
                                    <div class="dropdown__content dropdown__content--nested">
                                        <a href="#">Convocatoria</a>
                                        <a href="#">Llamado para autores</a>
                                    </div>
                                </div>
                                <div class="dropdown__nested">
                                    <input type="checkbox" id="navAbout" class="dropdown__checkbox">
                                    <label for="navAbout"><a class="dropdown__link">Acerca de</a></label>
                                    <div class="dropdown__content dropdown__content--nested">
                                        <a href="#">¿Que es CICOTI 2024?</a>
                                        <a href="#">Autoridades</a>
                                        <a href="#">Ediciones anteriores</a>
                                    </div>
                                </div>
                                <div class="dropdown__nested">
                                    <input type="checkbox" id="navHeadquarters" class="dropdown__checkbox">
                                    <label for="navHeadquarters"><a class="dropdown__link">Sedes</a></label>
                                    <div class="dropdown__content dropdown__content--nested">
                                        <a href="#">TecNM campus de los Ríos</a>
                                        <a href="#">TecNM campus de Escárcega</a>
                                        <a href="#">TecNM campus de Calkini</a>
                                    </div>
                                </div>
                                <a href="#">Comité organizador</a>
                                <a href="#">Programa</a>
                                <a href="#">Contactos</a>
                            </div>
                        </div>
                        <a href="#">Costos</a>
                    </div>
                    <div class="btn__lenguage">
                        <a>ES</a>
                        <div class="dropdown__content">
                            <a href="#">Inglés</a>
                            <a href="#">Español</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <section class="hero hero--home">
            <div class="container">
                <p class="hero__date">8 - 10 NOVIEMBRE 2024</p>
                <h1 class="hero__title text-hover-theme">Congreso Internacional en Computación y Tecnologías de la Información</h1>
                <p class="hero__place"><span>Lugar</span> TecNM campus de los Ríos, Escárcega, Calkiní</p>
                <ul class="hero__time">
                    <li><span>00</span>d</li>
                    <li class="time-li__border"><span>00</span>h</li>
                    <li class="time-li__border"><span>00</span>m</li>
                    <li class="time-li__border"><span>00</span>s</li>
                </ul>
            </div>
            <figure class="hero__footer">
                <div class="footer__content footer__content--movil"><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,128.41 C149.99,150.00 397.29,159.20 502.69,95.84 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #fff;"></path></svg></div>
                <div class="footer__content footer__content--desktop"><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M-1.69,80.25 C277.09,198.67 308.13,0.33 500.00,80.25 L500.56,150.31 L0.57,152.30 Z" style="stroke: none; fill: #fff;"></path></svg></div>
            </figure>
        </section>
        <input type="checkbox" id="checkModal" style="display: none;" checked>
        <section class="header__modal">
            <div class="header__container">
                <div class="modal__header">
                    <img src="/img/header.png" alt="modal-header">
                    <label for="checkModal" class="modal__close"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: #F00; transform: scale(85%);"><path d="m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z"></path></svg></label>
                </div>
                <div class="modal__body">
                    <div class="body__content">
                        <h3 class="modal__title">Revista Tecnología digital</h3>
                        <p class="modal__text">Índice LatIndex: Folio 23658</p>
                        <a href="#" class="modal__cta">Descargar</a>
                    </div>
                    <div class="body__content">
                        <h3 class="modal__title">Revista Computación y Sistemas</h3>
                        <p class="modal__text">Vol 27, No 2 (2023): 27(2) 2023</p>
                        <a href="#" class="modal__cta">Descargar</a>
                    </div>
                </div>
                <div class="modal__footer">
                    <img src="/img/Pie.png" alt="modal-footer">
                </div>
            </div>
        </section>
    </header>
    <main>
        <section class="container section__sedes">
            <div class="sedes__img">
                <img src="/img/logotec.png" alt="TecNM ITSR">
                <img src="/img/ITSElogo.png" alt="TecNM de Escárcega">
                <img src="/img/logocalkini.png" alt="TecNM Calkini">
                <img src="/img/logotuxtla.png" alt="TecNM Tuxtla">
                <img src="/img/logo_dacyti.png" alt="UJAT">
            </div>
            <div class="sedes__content">
                <div class="sedes__figure"></div>
                <p class="sedes__text">CICOTI 2024</p>
                <h3 class="sedes__title">SEDES DEL EVENTO</h3>
            </div>
            <div class="container__cards">
                <div class="card">
                    <img class="card__img" src="/img/resources/rios.jpg" alt="ITSR">
                    <div class="card__content">
                        <p class="card__name">TecNM campus de los Ríos</p>
                        <p class="card__text">Innovar la Tecnología para Superar los Retos</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card__img" src="/img/resources/escarcega.jpg" alt="ITSE">
                    <div class="card__content">
                        <p class="card__name">TecNM campus Escárcega</p>
                        <p class="card__text">Por la superación del Sur y la grandeza de Campeche</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card__img" src="/img/resources/calkini.jpg" alt="ITESCAM">
                    <div class="card__content">
                        <p class="card__name">TecNM campus Calkiní</p>
                        <p class="card__text">Sabiduria, fortaleza de nuestra cultura</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="container section__main">
            <div class="main__content">
                <div class="home__modality">
                    <img class="main__logo" src="/img/retina-logo.png" alt="CICOTI2024">
                    <h2>8 AL 10 DE NOVIEMBRE DE 2024</h2>
                    <h5>Modalidad: Híbrida Multisede</h5>
                </div>
                <hr>
                <div>
                    <h3>Bienvenidos(a)</h3>
                    <p>Tras el éxito del 1º Congreso Regional de Computación y Tecnologías de la Información (CORCOTI 2021), el TecNM en sus campus de los Ríos (ITSR), Escárcega (ITSE) y Calkiní (ITESCAM), en colaboración con el TecNM Tuxtla Gutiérrez y la Universidad Juárez Autónoma de Tabasco (UJAT), organizan el Congreso Internacional en Computación y Tecnologías de la Información (CICOTI 2024) en su Modalidad Híbrida Multisede, para discutir propuestas y resultados de los avances científicos en ciencias de la computación y tecnologías de la información.</p>
                </div>
                <hr>
                <div>
                    <h3>Convocatoria</h3>
                    <p>El TecNM en sus campus de los Ríos (ITSR), Escárcega (ITSE) y Calkiní (ITESCAM), en colaboración con el TecNM Tuxtla Gutiérrez y la Universidad Juárez Autónoma de Tabasco (UJAT), invitan a estudiantes, profesores, profesionistas, investigadores y público en general a participar en el Congreso Internacional de Computación y Tecnologías de la Información (CICOTI 2024).</p>
                </div>
                <hr>
                <div>
                    <h3>Objetivos</h3>
                    <p>Crear un espacio de análisis, fomento, diálogo, intercambio y divulgación de propuestas y resultados de proyectos de investigación que den solución a problemáticas en las áreas de: soberanía alimentaria, socio ecología, sostenibilidad, gestión de agua en cuencas medio ambiente, turismo y áreas afines; de esta manera involucrar la participación de estudiantes, profesores, investigadores, empresarios e interesados para impulsar el desarrollo científico, tecnológico y de investigación haciendo uso de las TICs y distintas áreas de las Ciencias de la Computación.</p>
                </div>
                <hr>
                <div>
                    <h3>Ejes Temáticos</h3>
                    <p>Son bienvenidos las contribuciones en diferentes tópicos de las Ciencias de la Computación y Tecnologías de la Información, incluidas a ellos:</p>
                    <p><b>Agrocomputación y Tecnologías Turísticas.</b> Trabajos que atiendan algún problema relacionado con la agricultura, ganadería, pesca, apicultura, sector turístico, etc. mediante el uso de algún campo de las Ciencias de la Computación, Tecnologías de Información o áreas afines.</p>
                    <p><b>Tecnologías de la Información y Comunicación.</b> Trabajos que atiendan de manera directa e indirecta alguna necesidad mediante algún área de las ciencias de la computación, tecnologías de Información y comunicación tales como:</p>
                </div>
                <ul>
                    <li>Redes de computadoras</li>
                    <li>Internet de las Cosas</li>
                    <li>Cloud Computing</li>
                    <li>Computación y Sociedad</li>
                    <li>Cómputo Científico</li>
                    <li>CyberSeguridad</li>
                    <li>Ingeniería de Software</li>
                    <li>Inteligencia Artificial</li>
                    <li>Realidad virtual y aumentada</li>
                    <li>Robótica</li>
                    <li>Sistemas distribuidos</li>
                    <li>Sistemas embebidos</li>
                    <li>TIC’s en la educación</li>
                    <li>Big data</li>
                </ul>
            </div>
            <div class="main__aside">
                <a class="modal__cta aside__cta">DESCARGAR PROGRAMA</a>
                <aside>
                    <div class="aside__date">
                        <h3>Fechas importantes</h3>
                        <div>
                            <div class="info-date">
                                <h4 class="text-hover-theme">Apertura de la convocatoria</h4>
                                <span>03 Junio 2024</span>
                            </div>
                            <div class="info-date">
                                <h4 class="text-hover-theme">Cierre de envío de propuesta de artículos</h4>
                                <span><del>16 Septiembre 2024</del></span>
                                <span><del>23 Septiembre 2024</del></span>
                                <span style="color: #D80169;">30 Septiembre 2024</span>
                            </div>
                            <div class="info-date">
                                <h4 class="text-hover-theme">Notificación de aceptación</h4>
                                <span><del>07 Octubre 2024</del></span>
                                <span style="color: #D80169;">16 Octubre 2024</span>
                            </div>
                            <div class="info-date">
                                <h4 class="text-hover-theme">Registro de participación</h4>
                                <span>18 Octubre 2024</span>
                            </div>
                            <div class="info-date">
                                <h4 class="text-hover-theme">Celebración del Congreso</h4>
                                <span>08-10 Noviembre 2024</span>
                            </div>
                        </div>
                    </div>
                    <div class="aside__endorce">
                        <h3>Avalado por:</h3>
                        <div><img src="/img/smia.png" alt="smia"></div>
                    </div>
                </aside>
            </div>
        </section>
    </main>
    <footer class="last-footer">
        <div class="container">
            <div class="last-footer__content">
                <img src="/img/retina-logo.png" alt="logo">
                <div>
                    <p>Dirección:  Km. 3 carretera Balancán-Villahermosa, Balancán, Tabasco C.P. 86930</p>
                    <p><a href="#">CICOTI 2024</a> - &copy; Copyright 2024</p>
                    <p>Diseñado por: <a href="#">CA - Computo Distribuido</a></p>
                    <p>Desarrollado por: <a>Mario Jesús Arias Hernández</a></p>
                </div>
            </div>
            <div class="last-footer__contact">
                <p>Teléfono: <strong>(934) - 115 - 1443</strong></p>
                <div>
                    <a class="contact__btn contact__btn--facebook" title="Facebook"></a>
                    <a class="contact__btn contact__btn--mail" title="Mail"></a>
                    <a class="contact__btn contact__btn--youtube" title="Youtube"></a>
                </div>
            </div>
        </div>
        <div class="last-footer__decoration">
            <div style="background-color: #ff76d5;"></div>
            <div style="background-color: #1ad688;"></div>
            <div style="background-color: #ffc600;"></div>
            <div style="background-color: #c40172;"></div>
            <div style="background-color: #990fff;"></div>
            <div style="background-color: #ff7500;"></div>
        </div>
    </footer>
</body>
</html>